{% extends "base.html" %}

{% block contenido %}
<div class="container">   
  <br>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a 

          {% if tab == 'sincomprar' %}
            class="active"
            href="#carrito-{{tab}}" 
          {% else %}
          href="#carrito" 
          {% endif %}

          onclick="location.href='{% url 'listar_carrito' %}'">Mi carrito de compras</a></li>
        
          <li class="tab col s4"><a 

          {% if tab == 'pendientes' %}
            class="active"
            href="#carrito-{{tab}}" 
          {% else %}
          href="#carrito" 
          {% endif %}

          onclick="location.href='{% url 'listar_pendientes' %}'">Mis compras pendientes</a></li>
        
          <li class="tab col s4"><a 

          {% if tab == 'finalizadas' %}
            class="active"
            href="#carrito-{{tab}}" 
          {% else %}
          href="#carrito" 
          {% endif %}

          onclick="location.href='{% url 'listar_finalizado' %}'">Mis compras realizadas</a></li>
      </ul>
    </div>
    <div id="carrito-{{tab}}" class="col s12">
      

        <ul class="collection with-header">
            {% if tab == 'sincomprar' %}
              <li class="collection-header">
                <center>
                  <h1>
                    Mi carrito de compras 
                  </h1>
                  <h2 id="total">
                    Total: 0$
                  </h2>
                </center>
              </li>
            {% endif %}

          
          {% for carrito in object_list %}
            <li class="collection-item">
              <div>
                {{carrito.producto.nombre}} - {{carrito.precio}} $
                {% if tab == 'sincomprar' %}
                  <form method="post" action="{% url 'eliminar_carrito' carrito.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn secondary-content">
                      <i class="material-icons">delete</i>
                    </button>
                  </form>
                {% endif %}
                <br>
              </div>
            </li>
          {% empty %}
            <li class="collection-item">
              <div>
                <center>
                    No tienes productos en tu carrito
                </center>
              </div>
            </li>
          {% endfor %}

        </ul>

        {% if tab == 'sincomprar' %}
          <br>
          <center>
              <a href="{% url 'pagar' %}" class="waves-effect waves-light btn-large">Pagar</a>
          </center>
        {% endif %}
        

    </div>
  </div>
</div>
{% endblock contenido %}

{% block seccionjavascript %}
    <script>
        $(document).ready(function(){
            var valor = 0
            {% for carrito in object_list %}
            valor = valor + {{carrito.precio}}
            {% endfor %}
            $("#total").html("Total: "+valor+"$")
        });
    </script>
{% endblock seccionjavascript %}