{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <br>

    <center>
      <h1>
        Detalle del pago
      </h1>
    </center>

    <div class="row">
      <div class="col s12">
        
          código de referencia: {{request.GET.referenceCode}} <br>
          Valor total : $ {{request.GET.TX_VALUE}}<br>
          correo electronico de compra: {{request.GET.buyerEmail}} <br>
          dirección de destino: {{request.GET.merchant_address}} <br>
          estado de la compra: 
          {% if request.GET.transactionState == '4' %}
          Transacción aprobada
          {% endif %}
          {% if request.GET.transactionState == '6' %}
          Transacción rechazada
          {% endif %}
          {% if request.GET.transactionState == '104' %}
          Error
          {% endif %}
          {% if request.GET.transactionState == '7' %}
          Transacción pendiente
          {% endif %}
      

      </div>
    </div>
 

    <br>
  </div>
{% endblock contenido %}

{% block seccionjavascript %}
{% endblock seccionjavascript %}