{% extends "base.html" %}

{% block contenido %}


<main>
	<center>
		<div class="section"></div>


		<div class="container">
			<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width: 60%;">

				<form class="col s12" action="{% url 'ingresar' %}" method="POST">
					{% csrf_token %}
					<div class='row'>
						<div class="row">
							<h1>
								Ingresar
							</h1>
						</div>

						<div class='col s12'>
							<div class="row">

								{% if form.errors %}
								<div class="col s12 m10 l10 offset-m1 offset-l1">
									<div class="chip red" style="padding: 5px 5px 5px 10px; width: 100%; height: 50px;">
										<i class=" close material-icons right white-text">close</i>
										<center>
											<h6 class="white-text">Verifique su contraseña o correo electrónico<h6>
											</center>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>


						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate login__form' type='email' name='username' id='email' required="required" />
								<label for='email'>Ingresa tu correo</label>
								<span class="helper-text">
                                    {% for error in form.email.errors %}
                                    {{ error|escape }} <br>
                                    {% endfor %}
                                </span>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate login__form' type='password' name='password' id='password' required="required" />
								<label for='password'>Ingresa tu contraseña</label>
								<span class="helper-text">
                                    {% for error in form.password.errors %}
                                    {{ error|escape }} <br>
                                    {% endfor %}
                                </span>
							</div>
						</div>

						<br />
						<center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect'>Ingresar</button>
                        </div>
			</center>
		</form>
	</div>
</div>
</center>

<div class="section"></div>
<div class="section"></div>
</main>


{% endblock contenido %}
