{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <form action="{% url 'cambiar_perfil' %}" method="POST" class="col s12">
      {% csrf_token %}
      <div class="input-field col s12">
        <input id="nombre" type="text" class="validate" name="first_name" value="{{object.first_name|default_if_none:""}}">
        <label for="nombre">Nombre(s)</label>
      </div>

      <div class="input-field col s12">
        <input id="apellidos" type="text" class="validate" name="last_name" value="{{object.last_name|default_if_none:""}}">
        <label for="apellidos">Apellidos</label>
      </div>

      <div class="input-field col s12">
        <input id="correo" type="email" class="validate" name="email" value="{{object.email|default_if_none:""}}">
        <label for="correo">Correo electrónico</label>
      </div>

      <div class="input-field col s12">
        <input id="telefono" type="tel" class="validate" name="telefono" value="{{object.telefono|default_if_none:""}}">
        <label for="telefono">Teléfono</label>
      </div>

      <center>
        <button class="waves-effect waves-light btn-large" type="submit">
          Guardar
        </button>
      </center>

    </form>
    <br>
  </div>
{% endblock contenido %}